<section class="container">
	<div class="col-md-12 heading">
			<i class="fa fa-book fa-3x"></i>
			<span style="font-size: 36px;">Eductaion</span>
	</div>

	<div class="row">
		<div id="unsw" class="col-lg-6 col-md-12 col-sm-12 row">
			<div class="edu-header col-lg-3 col-md-3 col-sm-3">
				<img src="css/images/unsw.jpg" width="80px" id="unsw-logo">
				<div class="divider"></div>
				<span><b>University of New South Wales</b></span>
			</div>
			<div class="edu-content col-lg-9 col-md-9 col-sm-9">
				<span class="edu-content-title"><b>Master of Information Technology</b></span>
				<ul>
					<li>Two Specializations: Internetworking and e-commerce System.</li>
					<li>Made major contribution to various academic projects</li>
				</ul>
			</div>

		</div>


		<div id="jxust" class="col-lg-6 col-md-12 col-sm-12 row">
			<div class="edu-header col-lg-3 col-md-3 col-sm-3">
				<img src="css/images/jxust.png" width="80px" id="unsw-logo">
				<div class="divider"></div>
				<span><b>Jiangxi University Of Science and Technology</b></span>
			</div>
			<div class="edu-content col-lg-9 col-md-9 col-sm-9">
				<span class="edu-content-title"><b>Bachelor of Electronic Engineering</b></span>
				<ul>
					<li>Achieved performance award in 2004 and 2006</li>
				</ul>

			</div>

		</div>

	</div>
</section>
