<!-- Projects -->
<div class="dark row"  ng-controller="projectsController">
	<!-- Single Project -->
	<div class="single-project col-xs-12 col-sm-6 col-md-4">
		<div class="project-image" >
			<img src="../../css/images/projects/campaignApproval/change-articles-sm.png"/>
		</div>
		<div class="project-mask">
			<div class="project-info">
				<div class="project-title">Campaign Approval Application</div>
				<div class="project-caption text-blue">AngularJS Project</div>
				<div class="project-buttons">
					<a href class="btn btn-blue btn-sm" ng-click="webDetail('campaign approval')">View it</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Single Project -->
	<div class="single-project col-xs-12 col-sm-6 col-md-4">
		<div class="project-image" >
			<img src="../../css/images/projects/campaignSystem/dashboard-sm.png"/>
		</div>
		<div class="project-mask">
			<div class="project-info">
				<div class="project-title">Campaign Generation System</div>
				<div class="project-caption text-blue">Laravel/AngularJS Project</div>
				<div class="project-buttons">
					<a href class="btn btn-blue btn-sm" ng-click="webDetail('campaign system')">View it</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Single Project -->
	<div class="single-project col-xs-12 col-sm-6 col-md-4">
		<div class="project-image" >
			<img src="../../css/images/projects/laravel/home-page-sm.jpg"/>
		</div>
		<div class="project-mask">
			<div class="project-info">
				<div class="project-title">Value Added Calculator</div>
				<div class="project-caption text-blue">Laravel/AngularJS Project</div>
				<div class="project-buttons">
					<a href class="btn btn-blue btn-sm" ng-click="webDetail('laravel')">View it</a>
				</div>
			</div>
		</div>
	</div>

</div>
