<!-- Projects -->
<div class="dark row"  ng-controller="projectsController">
	<!-- Single Project -->
	<div class="single-project col-lg-6 col-md-12 col-sm-12">
		<div class="project-image" >
			<img src="css/images/projects/laravel/home-page-sm.jpg" />
		</div>
		<div class="project-mask">
			<div class="project-info">
				<div class="project-title">Laravel/AngularJS Project</div>
				<div class="project-caption text-blue">Value Added Calculator</div>
				<div class="project-buttons">
					<a href class="btn btn-blue btn-sm" ng-click="webDetail()">View it</a> 
				</div>
			</div>
		</div>
	</div>

	<div class="single-project col-lg-6 col-md-12 col-sm-12">
		<div class="project-image" >
			<img src="css/images/projects/surveys/confirmit-sm.jpg" />
		</div>
		<div class="project-mask">
			<div class="project-info">
				<div class="project-title">Confirmit</div>
				<div class="project-caption text-blue">Online Surveys</div>
				<div class="project-buttons">
					<a href class="btn btn-blue btn-sm" ng-click="surveyDetail()">View it</a> 
				</div>
			</div>
		</div>
	</div>

</div>
