<section > 
	<div class="container ng-scope"> 
		<div class="col-md-12 heading"> 
			<div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }" style="font-size: 36px;"> 
				<span class="skill-header">Technical</span><span class="text-blue">Skills</span>
			</div> 
		</div>
		<div class="row no-margin">
			<div class="col-md-6"> 
				<h5 class="skill-heading">HTML 5</h5> 
				<div class="current" title="85%"> <span class="bar" data-number="85" style="width: 85%"></span> </div>
			</div>
			<div class="col-md-6"> 
				<h5 class="skill-heading">CSS3</h5>
				<div class="current" title="80%"> 
					<span class="bar" data-number="80" style="width: 80%"></span>
				</div>
			</div>
			<div class="col-md-6">
				<h5 class="skill-heading">jQuery</h5>
				<div class="current" title="75%"> <span class="bar" data-number="75" style="width: 75%"></span> </div>
			</div> 
			<div class="col-md-6">
				<h5 class="skill-heading">AngularJS</h5>
				<div class="current" title="70%"> <span class="bar" data-number="70" style="width: 70%"></span> </div>
			</div>

			<div class="col-md-6">
				<h5 class="skill-heading">PHP/Laravel</h5>
				<div class="current" title="65%"> <span class="bar" data-number="65" style="width: 65%"></span> </div>
			</div>
			<div class="col-md-6">
				<h5 class="skill-heading">SQL/Relational Database</h5>
				<div class="current" title="60%"> <span class="bar" data-number="60" style="width: 60%"></span> </div>
			</div>
		</div> 
	</div>
</section>