<section id="cd-timeline" class="cd-container">

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-job">
			<img src="css/svg/job.svg" >
		</div> <!-- cd-timeline-img -->
		<div class="cd-timeline-content">
			<h4>Full Stack Developer</h4>
			<h5 class="location-and-date">
				<i class="fa fa-map-marker"></i><span>Oneaffiniti</span>
				<br>
				<i class="fa fa-calendar"></i><span >June, 2016 to present</span>
			</h5>
			<b>CAMPAIGN GENERATION SYSTEM:</b>
			<ul>
				<li>Provide service-oriented-service expertise in designing scalable architecture.</li>
				<li>Customise solution to address business requirements</li>
				<li>Program RESTful API</li>
				<li>Develop single page application as front-end to interact with APIs</li>
				<li>Responsive Web Design in HTML5 and CSS3 to help the other teams can utilise the application across different devices</li>
				<li>Maintain and debug</li>
				<li>Unit test</li>
			</ul>
			<b>CAMPAIGN APPROVAL  APPLICATION</b>
			<ul>
				<li>Design component-based architecture</li>
				<li>Implement interactive and responsive front end in AngularJS</li>
				<li>Build application in object oriented pattern</li>
				<li>Work with designers to improve UI</li>
			</ul>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-job">
			<img src="css/svg/job.svg" >
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h4>Programmer</h4>
			<h5 class="location-and-date">
				<i class="fa fa-map-marker"></i><span>Institute for Choice, University of South Australia</span>
				<br>
				<i class="fa fa-calendar"></i><span >July, 2014 to June, 2016</span>
			</h5>

			<b>PROGRAMMING COMMERCIAL WEB APPLICATIONS:</b>
			<ul>
				<li>Develop, deploy and test applications in response to business need. </li>
				<li>Participating discussion with clients to clarify what they expect. </li>
				<li>Turn conceptual ideas into highly interactive web application.</li>
				<li>Collaborate with mathematician and blend their formula into the back end programming.</li>
				<li>Database schema design </li>
				<li>Implement server functionalities with Laravel (MVC/API) and PostgresSQL.</li>
				<li>Implement front-end application with AngularJS/JQuery/Bootstrap.</li>
				<li>Source control using Git and BitBucket.</li>
				<li>Deploy and maintain system with AWS.</li>
			</ul>
			<b>PROGRAMMING SURVEYS:</b>
			<ul>
				<li>Build and program online surveys using Confirmit (an online CMS system) and JavaScript. </li>
				<li>Collaborate with the research team to create survey content, functionality, and logic.</li>
				<li>Programming web-based surveys which are compatible across differed browsers in JavaScript(JQuery/AngularJS), HTML, CSS (Bootstrap).</li>
				<li>Communicate with project manager to finalise survey materials and provide guidance on functionality and solutions.</li>
				<li>Using analytical software, such as State, SPSS, or Excel to merge, manage, manipulate and present data.</li>
				<li>Monitor survey.</li>
				<li>Provide updates to panel companies.</li>
			</ul>

		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->