  <!-- Google Map -->
<div id="google-map" class="animated zoom-out" data-ng-class="{'zoom-out-animation':contact}" google-map>
</div>

<div class="content contact-content" >
	<h3 style="margin-bottom: 24px;
	font-size: 23px;
	line-height: 28px;
	text-transform: uppercase;
	color: #16a5d7;
	font-weight: 700;">LET'S KEEP IN TOUCH</h3>
	<ul class="list-unstyled list-unstyled-icons">
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>
			<span>16 Merton Street, Sutherland, NSW, 2232</span>
		</li>
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i>
			<a href="mailto:3dslayer@gmail.com">matilda.yipan@gmail.com</a>
		</li>
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>
			<a>0433269585</a>
		</li>
	</ul>
</div>

