<div id="home">

	<div class="shade_bg"></div>
	<div class="content padded">
		<!-- <img src="css/images/home.svg"> -->
		<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1000 1000"  preserveAspectRatio="xMinYMin meet">
			<g>
				<path class="path" d="m100,100h800v400h-800v-400" fill="none" stroke="#060205" stroke-width="5" id="svg_1"/>
				<path class="path" d="m500,500v200" fill="none" stroke="#060205" stroke-width="5" id="svg_2"/>
				<path class="path" d="m300,700h400" fill="none" stroke="#060205" stroke-width="5" id="svg_3"/>
			</g>
		</svg>

		<div class="home-content" >
			<div class="home_title">
				<span>Matilda Pan</span>
			</div>
			<div class="home_title_sub">
				<span>Full Stack Developer</span>
				<span class="position">Laravel/AngularJS/JQuery</span>
			</div>
			<div class="home-btn-group">
				<button type="button" class="btn btn-success" ui-sref="portfolio">Portfolio</button>
				<button type="button" class="btn btn-warning" ui-sref="contact">Contact</button>
			</div>


<!-- 			<ul class="social-icons">
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-github"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul> -->

		</div>

	</div>

</div>
